# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/dist
/tmp
/out-tsc
/bazel-out

/node_modules
npm-debug.log
yarn-error.log

/.angular/cache

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log

# System Files
.DS_Store
Thumbs.db
