# Build artifacts
[Bb]in/
[Oo]bj/
**/target/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# IDEs/editors
.vs/
.vscode/
.idea/

# NuGet
*.nupkg
packages/

# OS files
.DS_Store
Thumbs.db
